<form (ngSubmit)="createProduct()" [formGroup]="productForm">
  <div class="mb-3">
    <label for="name" class="form-label">Namn</label>
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder=""
      formControlName="name"
    />
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Pris</label>
    <input
      type="number"
      class="form-control"
      id="price"
      placeholder="1"
      formControlName="price"
    />
  </div>
  <div class="mb-3">
    <label for="inventory_amount" class="form-label">Lagersaldo</label>
    <input
      type="number"
      class="form-control"
      id="inventory_amount"
      placeholder=""
      formControlName="inventory_amount"
    />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label"
      >Beskrivning</label
    >
    <textarea
      class="form-control"
      id="description"
      rows="4"
      formControlName="description"
    ></textarea>
  </div>
  <div class="mb-3">
    <label for="formFileLg" class="form-label">Large file input example</label>
    <input
      class="form-control form-control-lg"
      id="formFileLg"
      type="file"
      formControlName="url"
    />
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">
    Submit
  </button>
</form>
