<nav class="navbar navbar-dark navbar-expand-sm bg-primary">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand">Hidden brand</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard">Dashboard</a>
        </li>
      </ul>
      <div>
        <button (click)="isOpen = !isOpen">
          <fa-icon [icon]="cart"></fa-icon>
        </button>
        <div class="absolute" *ngIf="isOpen">
          <app-chart></app-chart>
        </div>
        <button routerLink="/checkout">Till kassan</button>
      </div>
    </div>
  </div>
</nav>
