<div class="container">
  <div class="row">
    <table>
      <thead>
        <tr>
          <th>Ordernummer</th>
          <th>Beställare</th>
          <th>Orderdatum</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let order of orders; let i = index"
          class="text-primary bg-light"
          routerLink="/admin/order/{{ order.id }}"
        >
          <td>{{ order.id }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
