.area {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.549);
  position: absolute;
  top: 0px;
  left: 0px;
}

.dialog-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.box {
  display: flex;
  justify-content: left;
  min-height: 50vh;
  height: 100px;
  background-color: white;
}
